body{
    font-family: 'Archivo', sans-serif;
}

.bg{
    background-image: url(https://i.pinimg.com/originals/81/fb/69/81fb6926cfa1fb8c60dea92d642319b3.jpg);

}

#backTop{
    position:fixed;
    bottom: 3rem;
    right: 1vh;
    display:none;
    border-radius:30px;
    background-color: blue;
    color:white;
}

.font_C{
    font-family: 'Archivo Black', sans-serif;
}
